# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives
 - List popular languages for data science
 - List common libraries used by data scientists
 - Make a table of tools used by data scientists
 - Create examples of arithmetic expressions

Some of the popular languages that Data Scientests use are:
1. R
2. Python
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. TensorFlow
4. Pandas

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|R Studios|
|Zeppelin Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Nick Pangrazi